* {
    color: #ffffff;
    font-family: 'Arial';
}

body {
    background-color: #0c0c0c;
}

.game-container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid whitesmoke; */
    margin: 0px 5%;
}



.title-container {
    text-align: center;
    width: 510px;
    border-bottom: solid 1px #3a3a3c;
}


.tile-container{
    width: 330px;
    margin-bottom:30px;
    /* border: 1px solid whitesmoke; */
}

.key-container{
    width: 510px;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid whitesmoke; */
}

.key-container button{
    width: 43px;
    height: 58px;
    border-radius: 4px;
    border: none;
    background-color: #353535;
    margin: 4px;
    color: rgb(255, 255, 255);
}

.key-container button:nth-child(11){
    margin-left: 27px
}


.key-container button:nth-child(20),
.key-container button:nth-child(28){
    width: 68px;
}

.tile-container div{
    display: flex;
}

.tile-container .tile{
    width: 62px;
    height: 62px;
    border: 2px solid #3a3a3c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    color: #ffffff;
    align-items: center;
    margin: 2px;
}

.message-container{
    height: 30px;
}


.message-container p{
    background-color: #818384;
    border-radius: 10px;
    padding: 10px;
    margin: 0px;
}

.tile.flip{
    animation: 0.5s linear flipping;
}
@keyframes flipping{
    0%{
        transform:rotateX(0deg)
    }
    50%{
        transform:rotateX(90deg);
    }
    100%{
        transform:rotateX(0deg);
    }
}




.grey-overLay{
    background-color: #3a3a3c !important;
    border: none !important;
}

.yellow-overLay{
    background-color: #b59f31 !important;
    border: none !important;
}

.green-overLay{
    background-color: #538d4e !important;
    border: none !important;
}